experiments/
# .gitignore

# Python caches and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Project environments
.python-version

# Distribution / packaging
*.egg-info/
.eggs/
dist/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# VS Code workspace settings
pythonparts.code-workspace

